ul{
    li{
        display: inline-block;
        &:hover{
            background-color: var(--secondary);
        }
        transition: background-color(0.4s);
        border-radius: 5px;
    }
}
nav {
    background-color: #fed86665; 
    color: var(--text-regular);
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
    .logo{
        font-size: 18px;
        font-weight: 700;
    }
}
