<mat-card class="list-card">
  <mat-card-header>
    <mat-card-title class="title-serif">Liste des cocktails</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Rechercher</mat-label>
      <input matInput [(ngModel)]="searchTerm" placeholder="Nom du cocktail" />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="onSelectionChange($event)"
      class="cocktail-selection-list"
    >
      <mat-list-option
        *ngFor="let cocktail of filteredCocktails"
        [value]="cocktail"
        [selected]="cocktail === selectedCocktail"
      >
        {{ cocktail.name }}
      </mat-list-option>
    </mat-selection-list>
    <button mat-flat-button color="primary" class="add-btn">
      <mat-icon>add</mat-icon>
      Ajouter un cocktail
    </button>
  </mat-card-content>
</mat-card>
