<mat-card class="details-card" *ngIf="cocktail">
  <div class="cocktail-hero">
    <img [src]="cocktail.img" [alt]="cocktail.name" />
    <div class="hero-overlay"></div>
    <h2 class="hero-title title-serif">{{ cocktail.name }}</h2>
  </div>
  <mat-card-content>
    <mat-chip-set *ngIf="cocktail.tags?.length" class="cocktail-tags">
      <mat-chip *ngFor="let tag of cocktail.tags">{{ tag }}</mat-chip>
    </mat-chip-set>
    <p>{{ cocktail.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary">
      <mat-icon>edit</mat-icon>
      Modifier
    </button>
  </mat-card-actions>
</mat-card>
