<mat-card class="details-card" *ngIf="cocktail">
  <div class="cocktail-hero">
    <img [src]="cocktail.img" [alt]="cocktail.name" />
    <div class="hero-overlay"></div>
    <h2 class="hero-title title-serif">{{ cocktail.name }}</h2>
  </div>
  <mat-card-content>
    <mat-chip-set *ngIf="cocktail.tags?.length" class="cocktail-tags">
      <mat-chip *ngFor="let tag of cocktail.tags">{{ tag }}</mat-chip>
    </mat-chip-set>
    <mat-tab-group animationDuration="200ms" class="cocktail-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">description</mat-icon>
          Description
        </ng-template>
        <p class="tab-content">{{ cocktail.description }}</p>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">restaurant</mat-icon>
          Ingrédients
        </ng-template>
        <ul class="ingredients-list" *ngIf="cocktail.ingredients?.length">
          <li *ngFor="let ingredient of cocktail.ingredients">
            <span class="ingredient-name">{{ ingredient.name }}</span>
            <span class="ingredient-quantity" *ngIf="ingredient.quantity">{{ ingredient.quantity }}</span>
          </li>
        </ul>
        <p class="no-ingredients" *ngIf="!cocktail.ingredients?.length">Aucun ingrédient renseigné pour ce cocktail.</p>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary">
      <mat-icon>edit</mat-icon>
      Modifier
    </button>
  </mat-card-actions>
</mat-card>
